  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>By leveraging advanced financial models and automated algorithms, Finlogik empowers investment managers and self-directed customers with high-value advisory services on portfolio allocation and money management.

            By automating the management of bespoke investment portfolios based on customized needs, Finlogik enables investors and investment managers of all sizes to benefit from state-of-the-art investment optimization while reducing the minimum investment threshold and management costs.</p>
      </div>

      <div class="row mb-10 mt-3">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4>INVESTMENT ENGINEERING</h4>
            <p>In collaboration with an asset manager at the forefront of the process-based investing, Finlogik can help you design and manage efficient low-cost investment solutions suitable to both retail and institutional investors.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4>EXECUTION</h4>
            <p>By partnering with leading execution firms, Finlogik can provide investment managers with a broad range of transparent and low-cost market access services combined with advanced automation and superior execution.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4>MULTI-ASSETS</h4>
            <p>From simple listed securities to complex OTC products, Finlogik can help you manage virtually all types of financial instruments such as stocks, futures, options, fixed income, money market, foreign exchange, fund units and interest rate derivatives</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4>POWERFUL ANALYTICS</h4>
            <p>Analytical dashboards providing benchmarking, reporting and large scale data processing tools to help investors and investment managers assess their portfolio risk, exposure and performance.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->