<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Users</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">FullName</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">university</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Specialty</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone number</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Githeb/Linkedln</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Validate</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of user ">
                    <td>
                      <div class="d-flex px-2 py-1">
                        
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{u.fullName}}</h6>
                          <p class="text-xs text-secondary mb-0">{{u.email}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{u.ecole}}</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <h6 class="mb-0 text-sm">{{u.niveau_Specialite}}</h6>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{u.phoneNumber}}</span>
                    </td>
                    <td class="align-middle text-center">
                      <a href="{{u.lienGithub}}"> <i class="fa-brands fa-github " ></i></a>
                      <i class="fa-brands fa-linkedin"><a href="{{u.lienLinkedln}}"></a></i>
                    </td>
                    
                    <td class="align-middle">
                      <a (click)="openModel(u.id)" class=" font-weight-bold mr btn  gre" data-toggle="tooltip" data-original-title="Edit user">
                        <i class="fa-solid fa-check "></i>
                      </a>
                    </td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"  class="btn btn-primary" (click)="validateUser()">Ok</button>
      </div>
    </div>
  </div>
</div>