<section>
    <div class="row">
      <div class="col-md-6 gx-5 mb-4">
        <div class=" mt-3 shadow-2-strong" data-mdb-ripple-color="light">
          <img src="../../../assets/img/finlogik.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 gx-5 mb-4">
        <h4><strong>About</strong></h4>
        <p class="text-muted">
            Finlogik Tunisia is a subsidiary of Finlogik Canada; it is specialized in software publishing and services for the realization of IT projects for financial institutions. 
        </p>
        <p><strong>Description</strong></p>
        <p class="text-muted">
            Finlogik is a Financial technology and service provider. Leader in digital Investment Banking , Asset management and Wealth management. It is also a fast-growing digital company which is part of Canaccord Genuity Group, one of the largest independent investment banks and brokerages in Canada. Canaccord Genuity Group operates out of approximately 60 offices in 10 countries across Asia, Australia, Europe, and North America

        </p>
      </div>
    </div>
  </section>
  <!--Section: Content-->

  <hr class="my-5" />

  