<ul class="navbar-nav" ng-controller="HeaderController">
    <li class="nav-item">
      <a class="nav-link text-white  " *ngIf="role" [routerLink]="['/admin/home']" routerLinkActive="active bg-gradient-primary">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">dashboard</i>
        </div>
        <span class="nav-link-text ms-1" >Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " *ngIf="role" [routerLink]="['/admin/users']" routerLinkActive="active bg-gradient-primary ">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">table_view</i>
        </div>
        <span class="nav-link-text ms-1" >Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " *ngIf="role" [routerLink]="['/admin/projects']" routerLinkActive="active bg-gradient-primary">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">receipt_long</i>
        </div>
        <span class="nav-link-text ms-1">Projects</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " *ngIf="role" [routerLink]="['/admin/interviews']" routerLinkActive="active bg-gradient-primary">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">view_in_ar</i>
        </div>
        <span class="nav-link-text ms-1">Interviews</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " *ngIf="role" [routerLink]="['/admin/projects/postulate']" routerLinkActive="active bg-gradient-primary">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">format_textdirection_r_to_l</i>
        </div>
        <span class="nav-link-text ms-1">Projects postulate</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " *ngIf="!role" [routerLink]="['/admin/get']" routerLinkActive="active bg-gradient-primary">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">receipt_long</i>
        </div>
        <span class="nav-link-text ms-1">Admin</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link text-white " *ngIf="!role" [routerLink]="['/admin/add']" routerLinkActive="active bg-gradient-primary">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">add</i>
        </div>
        <span class="nav-link-text ms-1">Add Admin</span>
      </a>
    </li>
   
  </ul>