<ul class="navbar-nav" ng-controller="HeaderController">
    <li class="nav-item">
      <a class="nav-link text-white active bg-gradient-primary" [routerLink]="['/admin/home']">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">dashboard</i>
        </div>
        <span class="nav-link-text ms-1">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " [routerLink]="['/admin/users']">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">table_view</i>
        </div>
        <span class="nav-link-text ms-1" >Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " [routerLink]="['/admin/projects']">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">receipt_long</i>
        </div>
        <span class="nav-link-text ms-1">Projects</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " [routerLink]="['/admin/interviews']">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">view_in_ar</i>
        </div>
        <span class="nav-link-text ms-1">Interviews</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " [routerLink]="['/admin/projects/postulate']">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">format_textdirection_r_to_l</i>
        </div>
        <span class="nav-link-text ms-1">Projects postulate</span>
      </a>
    </li>
    
    <li class="nav-item mt-4">
      <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " [routerLink]="['/admin/profil']">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">person</i>
        </div>
        <span class="nav-link-text ms-1">Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white " href="../pages/sign-in.html">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">logout</i>
        </div>
        <span class="nav-link-text ms-1">Sign out</span>
      </a>
    </li>
   
  </ul>